@import ../../index

.nav-bar
  background-color: $main
  color: aliceblue
  font-weight: bolder
  display: flex
  justify-content: space-between
  height: 105px
  .title
    display: flex
    h1
      margin-left: 12px
      align-self: center
      #main_title
        text-decoration: none
        color: white
        font-size: larger
    button
      align-self: center
      font-size: smaller
      height: 25px
      width: 80px
      margin-left: 10px
      a
        color: white
        text-decoration: none
  #client
    align-self: center
    display: flex
    flex-direction: column
    margin-right: 15px
    .nick
      align-self: center
      margin-bottom: 5px
  #login
    align-self: center
    display: flex
    flex-direction: column
    #login-btn
      align-self: center
      margin-top: 15px

button
  background-color: $main
  color: aliceblue
  border: 2px solid aliceblue
  height: 35px
  width: 100px
  font-weight: bolder
  border-radius: 10px

