$main: hsl(210, 80%, 20%)
$sec: hsl(210, 65%, 65%)
$lighter: hsl(210, 65%, 80%)

body
  margin: 0
  font-family: 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


code
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

// Base Divider class
.divider
  display: flex
  &:before, &:after
    content: ""
    flex: 1

// Base line
.line
  align-items: center
  margin: 1em -1em

  &:before, &:after
    height: 1px
    margin: 0 1em

.glow
  &:before, &:after
    height: 5px
    -webkit-filter: blur(5px)
    border-radius: 5px
  &:before
    background: linear-gradient(to right, $lighter, $main)
  &:after
    background: linear-gradient(to left, $lighter, $main)

=neumorphism
  box-shadow: 10px 10px 20px hsl(240, 10%, 90%),  -10px -10px 20px hsl(240, 5%, 95%)
